 <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer at 710 </b></h5>
          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
          
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>(I.T) Servers</b></h5>
         <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
          <ul>
            <li>Microsoft Word, PowerPoint, Excel, Internet, E-mail, advertising</li>

            <li>Updating and installing software for Windows O.S</li>

            <li>Breaken down E-Books for students with Adobe Acrobat DC</li>

            <li>Reviewing the CATS (CUNY Assistive Technology Services) website for errors</li>
          </ul>
         </div>

          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2019 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
          
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office and clerical assistance</b></h5>
 <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
           <ul>

         <li> Delivered mail</li>
     
     <li> printed documents</li>

     <li>Organizing stock items advertising and counting the money</li>
          </ul>

 </div>
          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2012 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
         <br>
        </div>
      </div>
