  
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Queens borough Community College</b></h5>

          <p>The City University of New York, Bayside, NY
            Associate in Applied Science, Computer Information Systems (C.I.S), Internet & Info Technology,Sheepshead Bay High-School Brooklyn, NY</p>

          <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2013 <span class="w3-tag w3-blue w3-round">Current</span></h6>
          
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Relevant Coursework</b></h5>
          <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
         <ul>
          <p>
            
            <li>Computer Applications</li>
          
           <li>Microsoft Computer</li>
           
           <li>Creating Smartphone Apps</li>
           
           <li>Wireless Mobile Communications</li>
           
           <li>Networking Fundamentals I</li>
           
           <li>Computer Network Security</li>
           
           <li>Technology I: Building and Maintaining Web Sitet</li>
           </p>

         </ul>
          <hr>
          </div>

<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Communication</h2>
   <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
   <ul>
     <p>
    <li>Work with Club Advisor to plan and provide information at club meetings</li>
      </p>
   </ul>
   </div>
  
<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Leadership</h2>
<div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
    <ul>
      <p>
     <li>Vice President – Students for Disabilities Awareness, (SODA CLUB)</li>

     <li>Attended Vice President and Senate meetings regularly</li>
      </p>
    </ul>
</div>
   <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>ADVERTISING MANAGER</h2>
     <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
     <ul>
       <p>
      <li>Students with Disabilities (SSD)
      Designed flyers for upcoming events</li>
       </p>
     </ul>
     </div>

        </div>
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Additional Information</h2>
        <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">
          <ul>
      <p>
       <li>Designed and implemented power point presentation for Student Club, SODA, to perspective and new students.</li>
         
       <li>Participate and Support all activities, including fundraising for Walk to Aspire, Scholarships for students with disabilities.</li>
      </p>
    </ul>
        </div>

    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>AWARDS AND ACHIEVEMENTS</h2>
    <div class="w3-panel w3-light-grey w3-bottombar w3-border-white w3-hover-border-blue">

   <ul>
     <p>
     <li>Queens borough Community College, Certification of Recognition</li>
 
     <li>Academic Service-Learning Project, (Computer Information Systems), May 2016</li>
     </p>
   </ul>
      <br>
        </div>
      